.nav-bar-container {
  display: inline-flex;
  position: relative;
  margin-bottom: auto;
  margin-left: auto;
}

.nav-bar-container.home {
  top: auto;
}

.custom-link {
  color: orange;
}

.nav-bar-item {
  margin-right: 35px;
  color: black;
}

.splash {
  background-image: url("/pngtree-aesthetic-plain-background-with-pastel-colors-picture-.jpg");
  background-repeat: no-repeat;
  width: 80pc;
  color: black;
}
