:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Base styles for .navbar and .nav-bar-container */
.navbar {
  color: #fff;
  padding: 10px 0;
}

.nav-bar-container {
  list-style-type: none;
}

/* Custom link styles */
.custom-link {
  text-decoration: none;
  color: orange;
  padding: 16px;
}

/* Custom link styles */
.custom-link,
.orange-link {
  text-decoration: none;
  color: orange; /* Set link color to orange for both custom-link and orange-link */
}

/* Hover effect for links */
.custom-link:hover,
.orange-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Hover effect for links */
.custom-link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.Welcome h1 {
  color: lightsalmon;
}

h6 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

h5 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

.star-filled {
  color: #fdd835; /* Color for filled stars */
}

.star-empty {
  color: #ccc; /* Color for empty stars */
}
